.homeGeneral {
  width: 75%;
  background-color: #2d5d8c;
  height: 2px;
  border-radius: 2px;
}

.imageFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageFooter img {
  width: 40%;
}

.imageFooter h1 {
  color: #0a2a43;
}

.imageFooter button {
  background-color: #f17722;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  color: white;
  font-weight: bold;
}

.btnContact1 {
  background-color: #f17722;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.imageFooter button:hover {
  cursor: pointer;
}
